modules = ["nodejs-20"]
[userenv]

[userenv.shared]
AUTH_SECRET = "vibe-super-secret-jwt-key-2024-please-change-in-production-xyz789"
NEXT_PUBLIC_APP_URL = ""
INNGEST_DEV = "1"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Inngest Dev Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "next dev --turbopack -p 3000"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Inngest Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx --yes inngest-cli@latest dev -u http://localhost:3000/api/inngest --no-discovery"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8288
externalPort = 3001

[[ports]]
localPort = 8289
externalPort = 3002
